<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../jquery.min.js"></script>
    <script>

        $(document).on('click','.upd',function () {
            window.location.href="/sb/update.html?empNo="+$(this).attr("update")+""
        })


        $(document).on('click','.del',function () {
            $.ajax({
                url:"/sb/emp/delete",
                type:"post",
                data:{'empNo':$(this).attr("delete")},
                success:function (data) {
                    window.location.href="/sb/emplist.html"
                }
            })
        })


        $(function () {
           //alert(222)
            $.ajax({
                url:"/sb/emp/list",
                type:"POST",
                dataType:"json",
                success:function (data) {
                    //alert("修改成功")
                    if(data!=''){
                        var str="";
                        for (var i = 0; i < data.length; i++) {
                           str += "<tr><td >"+data[i].empNo+"</td><td>"+data[i].ename+"</td><td>"+
                               data[i].mgrName+"</td><td>"+data[i].deptName+
                               "</td><td>"+data[i].job+"</td><td>"+data[i].comm+
                               "</td><td>"+data[i].salary+
                               "</td><td><input type='button' delete='"+data[i].empNo+"' class='del' value='删除'></td>" +
                               "<td><input type='button' update='"+data[i].empNo+"' class='upd' value='修改'></td></tr>";
                        }
                        $("#tby").append(str);
                    }
                }
                }
            )
        })
    </script>
</head>
<body>
<center>
    <h3>信息表</h3>
    <a href="/sb/addEmp.html">新增</a>
    <table border="10">
        <div><img width="100px;" height="100px;" src="/sb/emp/show?fileName=1.jpg"></div>
        <thead>
        <tr><td>编号</td><td>姓名</td><td>领导姓名</td><td>部门名称</td><td>工作</td><td>奖金</td><td>工资</td><td>操作1</td><td>操作2</td></tr>
        </thead>
        <tbody id="tby">

        </tbody>
    </table>
</center>
</body>
</html>